<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Start New Chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="who are you" name="from">
        <textarea name="msg"></textarea>
        <input placeholder="who are you" name="to">
        <button>Create Chat</button>
    </form>
</body>
</html>