<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> This is Home page</h1>
    <h3><%=1+3030%></h3>
    <h5><%="khushbu".toUpperCase()%></h5>
    <h4><%=2*5/30%></h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero nemo delectus totam libero obcaecati, laudantium voluptas. Ipsa, mollitia eaque.</p>
    <button type="submit">Click Me !</button>
    <%- include("includes/head.ejs")%>
</body>
</html>